@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Pacifico&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Mea+Culpa&family=Pacifico&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Mea+Culpa&family=Pacifico&family=Righteous&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Mea+Culpa&family=Oswald:wght@200..700&family=Pacifico&family=Quicksand:wght@300..700&family=Righteous&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Playwrite+IN:wght@100..400&display=swap');

.none{
  display: none;
  transition: all 2s ease;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

  scroll-behavior: smooth;
}

body{
  background-color: #040a05c4 ;
}

#espacoInteracao{
display: flex;
align-self: center;
align-items: center;
justify-content: center;
margin-top: 5%;
}

.tamanhoInicialInteracao{
  height: 60px;
  width: 60px;
}

.tamanhoONInteracao{
height: 60px;
width: 15%;
}

.tituloInterativo{
  font-family: 'bebas neue';
  font-size: 1.3em;
}

.textoBranco{

  display: flex;
  color: white;
  transition: all 1s ease;
}

.textoPreto{
  color: black;
  display: flex;
  transition: 2s ease;
}


.fundoBranco{
  background-color: hsla(0, 0%, 100%, 0.76);
  transition: all 1s ease;
}

.fundoPreto{
  background-color: black;
  transition: all 1s ease;
}

.circulo60px{
  height: 60px;
  width: 80px;
}


.opacidade100{
  opacity: 100%;
  transition: all 2s ease;
}

.opacidade50{
  opacity: 50%;
  transition: all 2s ease;
}

.opacidade0{
  opacity: 0%;
  transition: all 2s ease;
}

.borda50px{
  border-radius: 50px;
  transition: all 2s ease;
}

.borda20px{
  border-radius: 20px;
  transition: all 2s ease;
}

.borda0px{
  border-radius: 0px;
  transition: all 2s ease;
}

.fade-in-section {
  opacity: 0.5;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
  filter: blur(8px); 
  will-change: opacity, transform, filter;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0); 
}

.color-in-section{
  filter: saturate(0);
  transition: all 1.5s ease;
}

.color-in-section.colored{
  filter: saturate(1);
}

.fade-in-section-50{
  filter: blur(8px);
  transition: filter 1.5s ease;
}

.fade-in-section-50.blur-50{
  filter: blur(0);
}


.trocar-bgPadrao{
  background-image: url('Assets/IMG/yagoOriginal.JPG');
}

.trocar-bgExposicao{
  background-image: url('Assets/IMG/yagoExposicao.JPG');
}

.trocar-bgSombras{
  background-image: url('Assets/IMG/yagoSombras.JPG');
}

.trocar-bgCor{
  background-image: url('Assets/IMG/yagoCor.JPG');
}

.trocar-bgTextura{
  background-image: url('Assets/IMG/yagoTextura.JPG');
}

.trocar-bgFinalizado{
  background-image: url('Assets/IMG/yagoFinalizado.JPG');
}

 #loader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #040a05c4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }


  #loader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #040a05;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.8s ease;
    filter: contrast(20);
  }


  #textoLoader{
    color: white;
    font-family: quicksand;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    z-index: 999;
    position: fixed;
    padding-bottom: 7%;
    
  }

  /* Quando sumir, opacidade zero */
  #loader.fade-out {
    opacity: 0;
  }

  .gooey {
    width: 142px;
    height: 40px;
    position: relative;
  }

  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #ffffff;
    border-radius: 50%;
    animation: dot 2.8s infinite;
  }

  .gooey .dots {
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
    transform: translateX(0);
  }

  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #ffffff;
    border-radius: 50%;
  }

  @keyframes dot {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(96px); }
  }

  @keyframes dots {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-31px); }
  }

  /* Conteúdo escondido inicialmente */
  #conteudo {
    display: none;
  }





/* Primeiro container */
#container1 {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
}

/* Header */
.navGeralHeader {
    height: 15vh;
    background-color: #040a05c4;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 998;
    transition: all 1s ease-in-out;
    list-style: none;
    top: 0;
}

.navGeralHeader:hover{
  backdrop-filter: blur(7px);
    background-color: #040a05dd;
}

.navGeralHeader #imgGit {
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#navHeader {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
    grid-column: 3;
}


#navHeader li a {
    color: white;
    font-size: larger;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
}

#navHeader li a:hover{
    color: #7d7d7d;
}

#navHeader li::marker {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

/* Conteúdo central do primeiro container */
#BGcont1 {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
    background-image: url('Assets/IMG/montagemGamaroDSK.PNG');
    background-position-y: 15%;
    background-size: cover;
    filter: blur(6px);
    transition: all 1.5s ease
    
}

  #BGcont1.blur-off {
    filter: blur(0);
  }


#nomeInicioDiv {
    height: 100%;
    width: 100%;
    display: flex;
}

#nomeInicioTexto {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  font-family: 'Comfortaa';
  font-weight: 600;
    position: relative;
    z-index: 10;
    align-self: flex-end;
    padding-bottom: 5%;
}

/* Barra separadora */
.barraSeparadora {
    height: 1.5vh;
    background-color: #D9D9D9;
}

/* Segundo container */
#container2 {
    height: 90vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    transition: all 0.2s ease;
    
}

.container2{
  background-image: url('Assets/IMG/yagoOriginal.JPG');
  transition: 2s ease;
}

/*

BARRAS REMOVIDAS DO CONTAINER 2 (DESCRIÇÃO DO CONT)


#contDivBarraBranca {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#barraBranca1 {
    height: 38%;
    width: 25%;
  background-image: url('Assets/IMG/IMG_2010.JPG');
  background-repeat: cover;
    transition: all 1s ease;
}

#barraBranca1:hover{
  background-color: #000000ad;
}

#barraBranca2 {
    height: 38%;
    width: 70%;
  background-image: url('Assets/IMG/IMG_2010.JPG');
  background-repeat: cover;
    transition: all 1s ease;
}

#barraBranca2:hover{
  background-color: #000000ad;
}

#tituloBarraBranca1 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-family: righteous, cursive;
    font-size: 2.5rem;
    padding-right: 20%;
    color: white;
}



#contDivBarraFoto{
    height: 8vh;
  background-image: url('Assets/IMG/IMG_2010.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    transition: all 0.5s ease;
}

#contDivBarraFoto:hover{
  opacity: 1;
}

#titulocontDivBarra1{
    height: 100%;
    padding-left: 12.5%;
    align-content: center;
}

#titulocontDivBarra1 p{
    font-family: 'righteous', cursive;
    font-style: normal;
    font-size: 2rem;
    color: white;
}


*/

.conteudoContainer2{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    transition: all 2s ease;
}

.conteudoContainer2 ul{
  transition: all 2s ease;
}

.conteudoContainer2 ul li{
  transition: all 2s ease;
}

#contComoFunciona{
    height: 100%;
    width: 72.5%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
     position: relative;
     z-index: 1;
}


#contComoFunciona ul{
    padding-left: 20%;
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    align-content: center;
    margin-left: 5%;
}

#contComoFunciona ul li{
    list-style: none;
    font-family: 'bebas neue';
    font-style: normal;
    font-size: 2.5rem;
    color: #D9D9D9;
    position: relative;
    z-index: 1;
    margin-top: 7.5%;
}

#contGradeCor{
    height: 80%;
    width: 25%;
    display: flex;
    background-size: cover;
    margin-left: 2.5%;
    align-content: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
}

#imgGrade{
    height: 100%;
    object-fit: contain;
    max-width: 100%;
     position: relative;
     z-index: 1;
}


#titulocontDivBarra2{
    height: 100%;
    padding-left: 12.5%;
    align-content: center;
}

#titulocontDivBarra2 p{
    font-family: 'righteous', cursive;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

#contDivBarraFoto2{
    height: 8vh;
    background-image: url('Assets/IMG/bgGato.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteudo2Container2{
    height: 70vh;
    width: 100%;
    background-image: url('Assets/IMG/backgroundContainer2.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    gap: 5%;
}

#comparador1{
    height: 55%;
    width: 47.5%;
    display: flex;
    margin-top: 4%;
    background-image: url('Assets/IMG/comparar1.JPG');
    background-size: cover;
    background-position: center;
}



#comparador2{
    height: 55%;
    width: 47.5%;
    display: flex;
    margin-top: 12%;
    background-image: url('Assets/IMG/comparar2.JPG');
    background-size: cover;
    background-position: center;
    justify-content: right;
}

#tituloComparador1{
    height: 18%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #0D1828;
    margin-top: 5%;
    background-color: #D9D9D9;
    padding-right: 10%;
}

#tituloComparador2{
    height: 18%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #0D1828;
    margin-top: 5%;
    background-color: #D9D9D9;
    padding-left: 10%;
}

#barraSeparadora2px{
  height: 2px;
  background-color: rgb(75, 75, 75);
}



#comparadorOficial{
    height: 70vh;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 100%;
    background-image: url('Assets/IMG/bgGato.jpg');
    background-position: center;
    background-size: cover;
    align-self: flex-end;
}

#barraSeparadoraCont2p3{
    height: 1vh;
    background-color: #d9d9d9;
}


#container3{
  height: 100vh;
}

#bgContainer3{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
  z-index: 1;
}

#Background1Container3{
  height: 65%;
  width: 100%;
  background-image: url('Assets/IMG/laguinhoDeFora1xDSK.jpg');
  background-size: cover;
  background-position-y: center;
  position: relative; 
  background-position-x: center;
  z-index: 1;
}

#Background2Container3{
  height: 36%;
  width: 100%;
  background-image: url('Assets/IMG/cachoeiraFriaDSK.jpg');
  background-size: cover;
  background-position-y: 60%;
  position: relative; 
  z-index: 1;
}


#conteudo1Container3{
  position: absolute;
  z-index: 5;
  width: 100%;
}

#subCont1C3{
  height: 20vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: grid;
}

#linha1Cnt1C3{
  background-color: #00000075;
  height: 60%;
  align-self: center;
  width: 20%;
  justify-self: right;
  align-content: center;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.7s ease;
}


#linha1Cnt1C3 p{
  font-family: julius sans one, sans-serif;
  color: white;
  justify-self: end;
  font-size: 1.8rem;
  padding-right: 5%;
  font-weight: 500;
}

#linha2Cnt1C3{
  background-color: #00000075;
  height: 60%;
  align-self: center;
  width: 15%;
  justify-self: right;
  align-content: center;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.7s ease;
}


#linha2Cnt1C3 p{
  font-family: julius sans one, sans-serif;
  color: white;
  justify-self: end;
  font-size: 1.8rem;
  padding-right: 10%;
}

#contPrincipalCont3{
  position: absolute;
  z-index: 4;
  height: 60vh;
  width: 100%;
  display: grid;
  margin-top: 20vh;

}

#containerGlowC3{
  height: 90%;
  width: 90%;
  align-self: center;
  justify-self: center;
  display: flex;
}

#pt1GrowC3{
  font-family: mea culpa;
  font-size: 1.8em;
  align-self: center;
  justify-self: center;
  padding-top: 20%;
  color: white;
}

#grow1C3{
  height: 100%;
  flex-basis: 25%;
  background-image: url('Assets/IMG/laguinhoDSK.PNG');
  background-size: cover;
  background-position: center;
  transition: all 2s ease;
}

#grow2C3{
  height: 100%;
  flex-basis: 15%;
  background-image: url('Assets/IMG/cachoeiraFriaDSK.jpg');
  background-size: cover;
  background-position: center;
  transition: all 3s ease;
}

#grow3C3{
  height: 100%;
  flex-basis: 12.5%;
  background-image: url('Assets/IMG/graffitiPredioDSK2.JPG');
  background-size: cover;
  background-position: center;
  transition: all 3s ease;
}

#grow4C3{
  height: 100%;
  flex-basis: 35%;
  background-image: url('Assets/IMG/gamaroSepDSK4.JPG');
  background-size: cover;
  background-position: center;
  transition: flex-grow 2s ease, border-radius 1s ease;
}

#grow1C3:hover {
  flex-grow: 3;
  border-radius: 15% 0% 0% 15%;
}

#grow2C3:hover {
  flex-grow: 3;
}


#grow3C3:hover {
  flex-grow: 3;
}


#grow4C3:hover {
  flex-grow: 2;
  border-radius: 0% 15% 15% 0%;
}

#contGrow4C3{
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 100%;
}


#boxpt2GrowC3{
  height: 45%;
  width: 70%;
  display: flex;
  align-self: center;
  justify-self: center;
  background: #ffffff2e;
  font-family: julius sans one, sans-serif;
  color: white;
}

#tituloBoxpt2GrowC3{
  font-size: 2.5em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



#linha3Container3{
  height: 35vh;
  z-index: 6;
  position: absolute;
  display: grid;
  width: 22.5%;
}

#barraBranca3C3{
  background-color: #00000075;
  z-index: 6;
  position: absolute;
  height: 20%; 
  width: 100%;
  align-self: flex-end;
  display: flex;
  border-radius: 0% 20px 20px 0%;
  transition: all 0.7s ease;
}


#barraBranca3C3:hover, #linha2Cnt1C3:hover, #linha1Cnt1C3:hover{
  background-color: #000000;
}

#barraBranca3C3 p{
  font-family: julius sans one, sans-serif;
  font-size: 1.8rem;
  padding-left: 5%;
  color: rgb(255, 255, 255);
  text-align: left;
  align-self: center;
}

#barraFotoBeer{
  background-color: rgba(255, 255, 255, 0.241);
  z-index: 6;
  position: absolute;
  height: 100%;
  width: 100%;
}


#barraSeparadoraCont3p4{
    height: 1vh;
    background-color: #D9D9D9;
}
#container4 {
  height: 100vh;
  width: 100%;
  display: block;
  background-image: url('Assets/IMG/backgroundContainer2.jpg');
  background-size: cover;
  background-position: center;
}

#detalhe1BgContainer4 {
  height: 20vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 40% 5% 40% ;
  grid-template-columns: 100%;
  ;
}

#barrinha{
  background-image: url('Assets/IMG/backgroundGatoEspelhado.jpg');
  background-position: center;
  background-size: cover;
  width: 70%;
}

#barrinha2{  
  background-image: url('Assets/IMG/bgGato.jpg');
  background-position: center;
  background-size: cover;
  width: 45%;
}

#detalhe2BgContainer4 {
  height: 70vh;
  width: 100%;
  display: grid;
  grid-template-columns: 3.75% 3.75% 85% 7.5%;
  grid-template-rows: 100%;
}

#detalhe3BgContainer4 {
  height: 10vh;
  width: 100%;
  display: flex;
}

#detalhesSobrepostosBgContainer4 {
  height: 15vh;
  width: 100%;
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteudoConteiner4{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 6;
  display: grid;
  grid-template-rows: 5% 30% 30% 20% 10% 5%;
  grid-template-columns: 3.75% 26.25% 40% 26.25% 3.75%;
  position: relative;
  
}

#bg1Camada2Container4{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url('Assets/IMG/backgroundGatoEspelhado.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#bg2Camada2Container4{
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 6;
  background-image: url('Assets/IMG/backgroundContainer2.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#bg3Camada2Container4{
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 6;
  background-image: url('Assets/IMG/backgroundGatoEspelhado.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#conteudo1Container4 {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 5;

}

#conteudo1Container4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


#conteudo2Container4 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
}

#textoPrincipalContainer4{
  display: flexbox;
  height: 100%;
  width: 100%;
  padding: 5%;
}

#textoPrincipalContainer4 h1{
  color: white;
  font-family: julius sans one, sans-serif;
  font-size: 2.5em;
}

#textoPrincipalContainer4 p{
  color: white;
  font-family: quicksand, sans-serif;
  padding: 4%;
  font-size: 1.5em;
}



#conteudo3Container4 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
}

#conteudo3Container4 img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

#containerAmostra{
  height: 65vh;
  width: 100%;
  display: flex;
}

#BGAmostra{
  height: 65vh;
  width: 100%;
  background-image: url('Assets/IMG/backgroundContainer2.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
}

#BG1Amostra{
  height: 100%;
  width: 40%;
  position: relative;
  z-index: 1;
  background-image: url('Assets/IMG/gatoTratado.JPG');  
  background-position: center;
  background-size: cover;
  border-right: 4px solid white;
}

#BG2Amostra {
  height: 100%;
  width: 60%;
  background-image: url('Assets/IMG/vidroPBDSK.JPG');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#conteudoSobrepostoContAmostra{
  height: 65vh;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: center;
}

#fotoHorizontalContAmostra{
  height: 65%;
  width: 55%;
  background-image: url('Assets/IMG/cachoeiraFriaDSK.jpg');
  background-position: center;  
  background-size: cover;
  align-self: flex-center;
  margin-top: 10%;
  margin-left: 15%;
  border: 4px solid white;
  transition: opacity 1.2s ease;
}

#fotoHorizontalContAmostra:hover{
  opacity: 0;
}


#container5 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#BGcontainer5{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 7.5% 25% 5% 35% 5% 15% 7.5%; ;
  grid-template-columns: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('Assets/IMG/gamaroDSK.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#BG1Container5{
  height: 100%;
  width: 35%;
  background-image: url('Assets/IMG/rioPira.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 6;
}

#divTituloWebDesign{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 30% 30% 20%;
  grid-template-columns: 10% 80%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

#andar1WebDesign{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  color: white;
  font-family: julius sans one, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  grid-row: 2;
  grid-column: 2;
}

#andar2WebDesign{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  color: white;
  font-family: julius sans one, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  grid-row: 3;
  grid-column: 2;
}

#barraBrancaWebDesign{
  height: 6%;
  width: 80%;
  display: flex;
  z-index: 5;
  grid-row: 4;
  grid-column: 2;
  background-color: white;
  align-self: flex-start;
}

#BG2Container5{
  height: 100%;
  width: 93%;  
  background-image: url('Assets/IMG/RioPiraPBEspelhado.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#divTextoWebDesign{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 60% 35%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

#divTextoWebDesign p{
  grid-column: 2;
  font-size: 1.8rem;
  font-family: playwrite in, sans-serif;
  color: white;
}

#BG3Container5{
  height: 100%;
  width: 100%;
  background-image: url('Assets/IMG/backgroundGatoEspelhado.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#orgMarcaBravetaCont5{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 7.5% 80% 12.5%;
  position: relative;
  z-index: 5;
}

#BG3Container5 p{
  font-family: righteous, cursive;
  font-size: 3rem;
  color: #ffffff85;
  grid-column: 2;
  align-self: center;
}

#bravetaDSKcont{
  height: 12.5vh;
  background-image: url('Assets/IMG/bgGato.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 100%;
}

#barrinhaBravetaDSK{
  height: 15%;
  width: 25%;
  background-color: white;
  align-self: flex-end;
  justify-self: center;
}

#bravetaDSKcont p{
  grid-row: 2;
  font-family: righteous, cursive;
  font-size: 3rem;
  font-family: 'six caps', sans-serif;
  color: #FFFFFF;
  align-self: center;
  justify-self: center;
}

#containerDSKBraveta{
  height: 110vh;
  width: 100%;
  display: flex;
  background-image: url('Assets/IMG/backgroundContainer2.jpg');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 15vh 5vh 85vh 5vh ;
  grid-template-columns: 100%;
}

#headerDSKBraveta{
  height: 15vh;
  width: 100%;
  display: flex;
  background-color: #151b16c5;
  position: absolute;
  z-index: 999;
}

#logoDSKBraveta{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: righteous, cursive;
  font-size: 3rem;
  color: white;
  margin-left: 5%;
}

#itensHeaderDSKBraveta{
  display: flex;
  color: white;
  font-family: bebas neue;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 3%;
  margin-right: 5%;
}

#item1DSKBraveta, #item2DSKBraveta, #item3DSKBraveta, #item4DSKBraveta, #item5DSKBraveta {
  font-size: 1.2rem;
  text-decoration: none;
  color: #EEFFC1;
  transition: color 0.5s ease;
}

#filtroEscuroBG{
  background-color: #0b0f0b90;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: 15vh 5vh 85vh;
  grid-template-columns: 5% 90% 5%;
}


#Cont1DSKBraveta{
  grid-row: 3;
  grid-column: 2;
  width: 100%;
  height: 55%;
  background-color: #0b0f0b94;
  padding-left: 7.5%;
  padding-top: 4%;
}

#tituloDSKBraveta{
  display: flexbox;
}

#titulo1DSKBraveta{
  font-family: righteous, cursive;
  font-size: 2.5rem;
  color: #EEFFC1;
}

#titulo2DSKBraveta{
  font-family: righteous, cursive;
  font-size: 3.2rem;
  color: #EEFFC1;
}

#barraVerdeDSKBraveta{
  width: 50%;
  height: 3vh;
  background-color: #191B0E;
  margin-top: 3%;
}

#textoDSKBraveta{
  font-family: playwrite in, sans-serif;
  font-size: 1rem;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
}


#Cont2DSKBraveta{
  grid-row: 3;
  grid-column: 2;
  height: 45%;
  align-self: flex-end;
  display: block;
}

#divbotaoInferiorDSKBraveta{
  width: 92.5%;
  height: 7.5vh;
  display: flex;
  margin-left: 7.5%;
  margin-top: 1%;
  box-sizing: border-box;
}


#barraVerdeInferiorDSKBraveta{
  width: 25%;
  height: 3vh;
  margin-top: 2%;
  background-color: #191B0E;
  display: flex;
  margin-left: 7.5%;
}

#delimitacaoBotaoDSKBraveta{
  width: 11.5%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191B0E;
  align-self: center;
  box-sizing: border-box;
}

#delimitacaoBotaoDSKBraveta p{
  color: #EEFFC1;
  font-family: six caps, sans-serif;
  font-size: 1.8em;
}

#barraSeparadora{
  height: 4px;
  background-color: white;
}

#footer {
  position: relative; /* importante para conter os absolutos */
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  transition: background-image 1s ease;
  overflow: hidden; /* esconde possíveis excessos do blur */
}

#BGfooter {
  position: absolute;
  inset: 0; /* ocupa tudo */
  background-image: url('Assets/IMG/obraDeArteRosaDSK.JPG');
  background-size: cover;
  background-position-y: 35%;
  z-index: 0;
  transition: all 1s ease;
}


#footer:hover #BGfooter{
  filter: blur(8px);
}

/* Conteúdo por cima */
#conteudoFooter {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1; /* fica acima do fundo borrado */
}

/* seus estilos para div1Footer, div2Footer, div3Footer continuam iguais */
#div1Footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#div1Footer {
  width: 35%;
  padding-right: 10%;
}

#div2Footer {
  width: 30%;
}

#div3Footer {
  width: 35%;
}

#opcoesFooter1 ul {
  list-style: none;
}

#opcoesFooter1 ul li a {
  color: white;
  font-size: 3rem;
  font-family: 'six caps', sans-serif;
  text-decoration: none;
  transition: color 0.5s ease;
}

#opcoesFooter1 ul li a:hover {
  color: rgb(0, 0, 0);
}

#logoFinalFooter {
  display: flex;
  align-items: end;
  padding-bottom: 10%;
  justify-content: center;
  height: 100%;
}

#logoFinalFooter a {
  text-decoration: none;
  font-family: 'Comfortaa';
  color: white;
  font-size: 2rem;
  transition: color 0.8s ease;
}

#logoFinalFooter a:hover {
  color: black;
}


/* Resto dos seus estilos para os links etc continuam os mesmos */



    * {
      box-sizing: border-box;
      margin: 0;
    }




    .galeria-wrapper {
      display: flex;
      gap: 40px;
      align-items: flex-start;
      justify-content: center;
      margin-left: 2%;
      transition: all 4s ease;
    }

    .container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      max-width: 75%;
      transition: all 0.4s ease;
      align-items: flex-start;
    }

    .item {
      position: relative;
      flex: 1;
      max-width: 100%;
      aspect-ratio: 1 / 1; /* quadrado inicialmente */
      transition: all .8s ease;
      cursor: pointer;
      z-index: 1;
      overflow: hidden;
      border-radius: 5%;
    
    }

    .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 5s ease;
    }

    .texto-explicativo {
      flex: 1;
      background: none;
      padding: 2rem;
      opacity: 0;
      transition: opacity 0.4s ease;
      max-width: 35%;
      height: fit-content;
      color: white;
      font-family: quicksand, sans-serif;
    }

    .texto-explicativo h1{
      font-family: julius sans one, sans-serif;
      margin-bottom: 0.8rem;
      font-weight: 500;
    }

    .galeria-wrapper.hovering .container .item {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.95);
       border-radius: 10%;
    }

    .galeria-wrapper.hovering .container .item:hover {
      opacity: 1; 
      pointer-events: auto;
      z-index: 5;
      max-width: 100%;
      aspect-ratio: 3 / 3; /* estica horizontalmente */
    }

    .galeria-wrapper.hovering .texto-explicativo {
      opacity: 1;
    }

    .texto-explicativo .texto {
      display: none;
    }

    .texto-explicativo[data-ativo="1"] #texto1,
    .texto-explicativo[data-ativo="2"] #texto2,
    .texto-explicativo[data-ativo="3"] #texto3,
    .texto-explicativo[data-ativo="4"] #texto4 {
      display: block;
    }

  

@media (max-width: 900px) {
  #BG1Container5{
    width: 100%;
  }

  #divTextoWebDesign{
    width: 100%;
    display: flex;
    padding: 5%;
  }

  #itensHeaderDSKBraveta div{
    font-size: 1rem;
  }

  #opcoesFooter1 ul li a {
    font-size: 2.5rem;
}

#logoFinalFooter a{
font-size: 1.5rem;
}

#footer{
  height: 50vh;
}

}
    

@media (max-width: 900px) {
  .galeria-wrapper {
    flex-direction: column;
    align-items: center;
  }
      .texto-explicativo{
        max-width: 70%;
      }

  .container{
    max-width: 100%;
    margin-right: 5%;
  }

  #conteudo3Container4{
    display: none;
  }

  #conteudo1Container4{
    display: none;
  }

  #conteudo2Container4{
    grid-column-start: initial;
    grid-column-end: initial;

  }

  #bg1Camada2Container4{
    background-image: url('Assets/IMG/rioPB3.jpg');
  }

  #barrinha2{
    background-image: url('Assets/IMG/RioPiraPB2.jpg');
  }

  #textoPrincipalContainer4{
    font-size: 1.2em;
  }

  #textoDSKBraveta{
    width: 90%;
  }

  #delimitacaoBotaoDSKBraveta p{
    font-size: 1px;
  }


  #andar1WebDesign{
    font-size: 3rem;
  }
  #andar2WebDesign{
    font-size: 3rem;
  }


  #interativo{
    font-size: 1em;
  }

  .item {
    position: relative;
  }

  .item .texto-sobreposta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
    display: none;
    z-index: 10;
    text-align: center;
  }

  .item.ativo .texto-sobreposta {
    display: block;
  }

  #contPrincipalCont3{
    box-sizing: border-box;
    height: 90vh;
  }

  #containerGlowC3{
    flex-direction: column-reverse;
    height: 100%
  }

  #grow1C3:hover{
  border-radius: 0%;
  border-radius: 0% 0% 100px 100px;  
  }

  #grow4C3{
    transition: all 4s ease;
  }

  #grow4C3:hover{
    border-radius: 0%;
  border-radius: 100px 100px 0% 0% ;
  }

  #barraBranca3C3{
    display: none;
  }

  #subCont1C3{
    display: none;
  }

  #contPrincipalCont3{
    margin-top: 0;
  }


  #containerGlowC3{
    height: 110vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  #container3{
    height: 120vh;
  }

  #delimitacaoBotaoDSKBraveta p{
    font-size: 1.4rem;
  }

  #div1Footer{
    padding-left: 5%;
  }
}

@media (max-width: 1100px){
  #conteudo1Container4{
    height: 85%;
    align-items: center;
}

#conteudo3Container4{
  height: 85%;
  grid-column-end: unset;
}

#linha3Container3{
  width: 50%;
}

#barraBranca3C3{
  width: 65%;
}

#linha1Cnt1C3{
  width: 25%;
}

#divTextoWebDesign p{
  font-size: 1.5rem;
}

#andar1WebDesign{
  font-size: 3rem;
}

#andar2WebDesign{
  font-size: 3rem;


}
}

@media (max-width: 1200px){
.galeria-wrapper{
  display: grid;
  transition: all 1s ease;
}

.hovering {
  margin-bottom: 5%;
  transition: all 2s ease;
}

.texto-explicativo{
  transition: all 1s ease ;
}



}
@media (max-width: 1300px) {

  #delimitacaoBotaoDSKBraveta{
    width: 17%;
  }


  #div1Footer{
    padding-right: 5%;
  }
}

@media (max-width: 300px) {
  .galeria-wrapper {
    flex-direction: column;
    align-items: center;
  }


  #sobreposicaoContainer2 img{
    display: none;
  }


  .contComoFunciona{
    width: 100%;
    height: 100%;
  }

  .conteudoContainer2{
    display: flex;
    flex-wrap: wrap;
    height: 150vh;
  }

  #contComoFunciona{
    display: flex;
    width: 100vw;
    height: 40vh;
  }


  #listaComoFunciona ul li{
    font-size: 1.4rem; /* Ajusta o tamanho da fonte para mobile */
  }

  #contGradeCor{
    height: 30vh;
    width: 100%;
    padding: 0;
    margin: 2vh 4vw;
  }

  #contGradeCor img{
    width: 60%;
  }

  #tituloBarraBranca1 p{
    font-size: 1.5rem; /* Ajusta o tamanho da fonte para mobile */
    padding-right: 10%;
  }




  .item {
    width: 90%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    position: relative;
  }

  .item .texto-sobreposta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    color: black;
    font-weight: bold;
    display: none;
    z-index: 10;
    text-align: center;
  }

  .item.ativo .texto-sobreposta {
    display: block;
  }
}

