@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Pacifico&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Primeiro container */
#container1 {
    width: 100%;
    height: 85vh;
    background-image: url('Assets/IMG/backgroundContainer1.JPG');
    background-size: cover;
    background-position: center;
}

/* Header */
#navGeralHeader {
    height: 15vh;
    background-color: #040a05c4;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100;
}

#navGeralHeader #imgGit {
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

#navHeader {
    display: flex;
    gap: 5vw;
    justify-content: center;
    flex-wrap: wrap;
}

#navHeader li a {
    color: white;
    font-size: larger;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

#navHeader li::marker {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

/* Conteúdo central do primeiro container */
#contentNomeInicial {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: end;
}

#nomeInicioDiv {
    height: 15vh;
    width: 100%;
    display: flex;
}

#nomeInicioTexto {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

/* Barra separadora */
.barraSeparadora {
    height: 1.5vh;
    background-color: #D9D9D9;
}

/* Segundo container */
#container2 {
    height: 110vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url('Assets/IMG/backgroundContainer2.jpg');
}

#contDivBarraBranca {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#barraBranca1 {
    height: 38%;
    width: 25%;
    background-color: white;
}

#barraBranca2 {
    height: 38%;
    width: 70%;
    background-color: white;
}

#tituloBarraBranca1 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    padding-right: 20%;
}



#contDivBarraFoto{
    height: 8vh;
    background-image: url('Assets/IMG/backgroundGatoEspelhado.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#titulocontDivBarra1{
    height: 100%;
    padding-left: 12.5%;
    align-content: center;
}

#titulocontDivBarra1 p{
    font-family: 'righteous', cursive;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

#conteudoContainer2{
    height: 40%;
    width: 100%;
    display: flex;
    margin-top: 5vh;
    position: relative;
    z-index: 1;
}

#contComoFunciona{
    height: 100%;
    width: 72.5%;
    background-image: url('Assets/IMG/bgPBclaro.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
     position: relative;
     z-index: 1;
}

#contComoFunciona ul{
    align-self: center;
    padding-left: 20%;
    position: relative;
    z-index: 1;
}

#contComoFunciona ul li{
    list-style: none;
    font-family: 'pacifico', cursive;
    font-style: normal;
    font-size: 2rem;
    color: #D9D9D9;
    margin: 0.5vh 0;
    position: relative;
    z-index: 1;
}

#contGradeCor{
    height: 80%;
    width: 25%;
    display: flex;
    background-image: url('Assets/IMG/bgPBclaro.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 2.5%;
    align-content: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
}

#imgGrade{
    height: 100%;
    object-fit: contain;
    max-width: 100%;
     position: relative;
     z-index: 1;
}

#sobreposicaoContainer2{
z-index: 5;
position: absolute;
margin-top: 33vh;
height: 100;
width: 80vw;
display: grid;
align-self: center;
justify-content: center;
box-sizing: border-box;
grid-template-columns: 33.3% 33.3% 33.3%;
grid-template-rows:  33.3% 33.3% 33.3%;
}

#sobreposicaoContainer2 img{
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}

#titulocontDivBarra2{
    height: 100%;
    padding-left: 12.5%;
    align-content: center;
}

#titulocontDivBarra2 p{
    font-family: 'righteous', cursive;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

#contDivBarraFoto2{
    height: 8vh;
    background-image: url('Assets/IMG/bgGato.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteudo2Container2{
    height: 70vh;
    width: 100%;
    background-image: url('Assets/IMG/backgroundContainer2.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    gap: 5%;
}

#comparador1{
    height: 55%;
    width: 47.5%;
    display: flex;
    margin-top: 4%;
    background-image: url('Assets/IMG/comparar1.JPG');
    background-size: cover;
    background-position: center;
}



#comparador2{
    height: 55%;
    width: 47.5%;
    display: flex;
    margin-top: 12%;
    background-image: url('Assets/IMG/comparar2.JPG');
    background-size: cover;
    background-position: center;
    justify-content: right;
}

#tituloComparador1{
    height: 18%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #0D1828;
    margin-top: 5%;
    background-color: #D9D9D9;
    padding-right: 10%;
}

#tituloComparador2{
    height: 18%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    color: #0D1828;
    margin-top: 5%;
    background-color: #D9D9D9;
    padding-left: 10%;
}




#comparadorOficial{
    height: 60vh;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 100%;
    background-image: url('Assets/IMG/backgroundContainer1.JPG');
    background-position: center;
    background-size: cover;

}


    * {
      box-sizing: border-box;
      margin: 0;
    }




    .galeria-wrapper {
      display: flex;
      gap: 40px;
      align-items: flex-start;
      justify-content: center;
    }

    .container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      max-width: 75%;
      transition: all 0.4s ease;
      align-items: flex-start;
    }

    .item {
      position: relative;
      flex: 1;
      max-width: 100%;
      aspect-ratio: 1 / 1; /* quadrado inicialmente */
      transition: all 1s ease;
      cursor: pointer;
      z-index: 1;
      overflow: hidden;
    
    }

    .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 5s ease;
    }

    .texto-explicativo {
      flex: 1;
      background: none;
      padding: 2rem;
      opacity: 0;
      transition: opacity 0.4s ease;
      max-width: 35%;
      height: fit-content;
      color: white;
      font-family: 'pacifico', cursive;
    }

    .galeria-wrapper.hovering .container .item {
      opacity: 0;
      pointer-events: none;
      transform: scale(0.95);
       border-radius: 20px;
    }

    .galeria-wrapper.hovering .container .item:hover {
      opacity: 1;
      pointer-events: auto;
      z-index: 5;
      max-width: 100%;
      aspect-ratio: 3 / 3; /* estica horizontalmente */
    }

    .galeria-wrapper.hovering .texto-explicativo {
      opacity: 1;
    }

    .texto-explicativo .texto {
      display: none;
    }

    .texto-explicativo[data-ativo="1"] #texto1,
    .texto-explicativo[data-ativo="2"] #texto2,
    .texto-explicativo[data-ativo="3"] #texto3,
    .texto-explicativo[data-ativo="4"] #texto4 {
      display: block;
    }

    @media (max-width: 900px) {
      .galeria-wrapper {
        flex-direction: column;
        align-items: center;
      }

      .container, .texto-explicativo {
        max-width: 100%;
      }
      #navHeader li{
  font-size: 10px;
}

#comparadorOficial{
  height: 200vh; /* Ajusta a altura para o conteúdo */
  background-image: url('Assets/IMG/MOBILE_backgroundContainer1.jpeg');
}

#sobreposicaoContainer2{
  display: none;
}

    }



    

@media (max-width: 900px) {
  .galeria-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .container, .texto-explicativo {
    max-width: 100%;
  }

  .texto-explicativo {
    display: none; /* Esconde o bloco lateral no mobile */
  }

  .item {
    position: relative;
  }

  .item .texto-sobreposta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bold;
    display: none;
    z-index: 10;
    text-align: center;
  }

  .item.ativo .texto-sobreposta {
    display: block;
  }
}




@media (max-width: 900px) {
  .galeria-wrapper {
    flex-direction: column;
    align-items: center;
  }

  #sobreposicaoContainer2 img{
    display: none;
  }

  #container2 {
    height: 100vh; /* Ajusta a altura para o conteúdo */
    background-image: url('Assets/IMG/backgroundContainer2.jpg');
    background-size: cover;
    background-position: center;
  }

  #conteudoContainer2{
    display: flex;
    flex-wrap: wrap;
    height: 150vh;
  }

  #contComoFunciona{
    display: flex;
    width: 100vw;
    height: 40vh;
  }

  #listaComoFunciona ul li{
    font-size: 1.4rem; /* Ajusta o tamanho da fonte para mobile */
  }

  #contGradeCor{
    height: 30vh;
    width: 100%;
    padding: 0;
    margin: 2vh 4vw;
  }

  #contGradeCor img{
    width: 60%;
  }

  #tituloBarraBranca1 p{
    font-size: 1.5rem; /* Ajusta o tamanho da fonte para mobile */
    padding-right: 10%;
  }



  .container {
    flex-direction: column; /* <-- FAZ FICAREM EM COLUNA */
    gap: 30px;
    max-width: 100%;
    align-items: center;
    height: 200vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
  }

  .texto-explicativo {
    display: none; /* Esconde o texto lateral no mobile */
  }

  .item {
    width: 90%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    position: relative;
  }

  .item .texto-sobreposta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    color: black;
    font-weight: bold;
    display: none;
    z-index: 10;
    text-align: center;
  }

  .item.ativo .texto-sobreposta {
    display: block;
  }
}

